@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap');

body {
    font-family: 'Inter', sans-serif;
}

.flex {
    display: flex;
}

.hide {
    display: none;
}

.grid {
    display: grid;
}

.rectangle-1 {
    width: 100%;
    min-height: 101px;

    margin-bottom: 40px;

    background: #D9D9D9;
}

.rectangle-2 {
    width: 203px;
    min-width: 80px;

    margin-right: 86px;

    background: #D9D9D9;
}

.block-comments-and-rectnagle {
    width: 100%;

    flex-direction: column;

    margin-right: 129px;

    height: 100%;
}

.rectangles {

    grid-template-columns: repeat(2, minmax(300px, 887px));
    grid-template-rows: 61px 61px 61px 61px;

    row-gap: 30px;
    column-gap: 48px;

    margin-bottom: 40px;
}

.rectangle-3 {
    min-width: 100%;
    height: 100%;

    background: #D9D9D9;
}

.rectangle-4 {
    width: 100%;
    min-height: 168px;

    margin-bottom: 40px;

    background: #D9D9D9;
}

.stripe {
    width: 100%;
    min-height: 3px;

    margin-bottom: 22px;

    background: rgba(87, 87, 87, 0.329)
}



.form__commentary {
    align-items: flex-end;

    margin-bottom: 40px;

    width: 100%;
}

.form__commentary-block {
    position: relative;

    width: 100%;
}

.form__commentary-photo-author {
    width: 70px;
    height: 70px;

    margin-right: 30px;

    border-radius: 100%;
}

.form__commentary-label {
    width: 100%;

    margin-right: 30px;
}

.label__info-about-commentary {
    width: 100%;

    margin-bottom: 20px;

    justify-content: space-between;
}

.info-about-commentary__name-author {
    color: #122AC0;

    font-size: 18px;
}

.info-about-commentary__max-symbols {
    opacity: 0.4;
    font-size: 14px;
    font-style: italic;
    letter-spacing: 0.14px;
}

.form__commentary-description {
    width: 96%;

    padding: 17px 0 0 30px;

    border: none;
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.20);

    resize: none;

    color: #000;
    font-size: 18px;
}

.form__commentary-add-commentary {
    max-width: 213px;
    max-height: 61px;
    padding: 20px 60px;

    border: none;
    border-radius: 5px;
    background: #D9D9D9;

    color: #000;
    font-size: 18px;

    transition: background 0.3s ease;
}

.form__commentary-add-commentary:hover {
    cursor: pointer;
}

/* Navigation */
.navigation {
    margin-bottom: 30px;

    flex-wrap: wrap;
}

.navigation__section {
    align-self: center;
}

.navigation__section:not(:last-child) {
    margin-right: 55px;
}

.navigation__section-how-much-commentares {
    font-size: 20px;
    padding-bottom: 5px;

    border-bottom: #000 3px solid;
}

.navigation__section-sort {
    padding-bottom: 2px;
    margin-right: 5px;

    opacity: 0.4;
    font-size: 16px;

    border-bottom: #000 3px solid;
}

.triangle {
    width: 15px;
}

.navigation__section-in-favourites {
    padding-bottom: 2px;
    margin-right: 9.5px;

    opacity: 0.4;
    font-size: 16px;

    border-bottom: #000 3px solid;
}

/*Commentary*/

.commentares {
    flex-direction: column;
}

.commentary {
    position: relative;
}

.block-commentary-and-answers {

    margin-bottom: 30px;
    min-width: 90%;
}

.photo-author {
    width: 70px;
    height: 70px;

    margin-right: 30px;

    border-radius: 100%;
}

.commentary__content {
    width: 100%;
}

.commentary__content-title {
    position: relative;
    align-items: center;
    margin-bottom: 10px;
}

.name-commentator {
    margin-right: 15px;
}

.title__date-published {
    opacity: 0.4;
    color: #000;
    font-size: 14px;
    letter-spacing: 0.14px;
}


.commentary__content-description {
    word-break: break-all;

    max-width: 100%;

    margin-bottom: 15px;

    color: #000;
    font-size: 18px;
}

.commentary__content-actions {
    align-self: center;
}

.actions-description {
    align-self: center;

    margin-right: 19px;

    opacity: 0.4;
    color: #000;
    font-size: 18px;
}

.actions-description:hover {
    cursor: pointer;

    color: #afafaf;
}

.answer {
    width: 22px;
    height: 22px;

    margin-right: 8px;
}

.in-favourites {
    width: 22px;
    height: 22px;

    margin-right: 8px;
}

.circle-like {
    position: relative;

    margin-right: 10px;

    width: 20px;
    height: 20px;

    border-radius: 100%;
    background-color: #D9D9D9;

    transition: background 0.3s ease;
}

.circle-like:hover {
    cursor: pointer;

    background-color: #afafaf;
}

.minus {
    position: relative;

    left: 21%;
    top: -12%;

    color: #F00;
    font-size: 24px;
}

.count-likes {
    margin-right: 10px;

    color: #8AC540;
    font-size: 18px;
}

.count-likes_red {
    color: #F00;
}


.plus {
    position: relative;

    left: 11%;
    top: -18%;

    color: #8AC540;
    font-size: 24px;
}

.form-answer {
    padding-top: 20px;
}

.form__answer-description {
    margin: 0 10px 0 0;
}


/*Answer*/

.answers {
    padding-top: 20px;
    padding-left: 100px;
}

.added-answer {
    position: relative;
}

.added-answer:not(:last-child) {
    margin-bottom: 20px;
}

.answer-for {
    opacity: 0.4;
    color: #000;
    font-size: 18px;

    margin-right: 15px;
}